@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
body {
    font-family: 'Fira Code', sans-serif;
    background-image: url("img/882548.jpg");
    color: rgb(3, 3, 0);
    text-align: center;
}
a {
    color: chartreuse;
}
section {
    text-align: left;
    background-color: rgba(35, 1, 75, 0.3);
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.563);
}
img {
    border-radius: 10px;
}
.center {
    text-align: center;
}
h1 {
    color: #830048;
}
.res {
    text-align: center;
    font-size: large;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}